<div class="banner">
    <div class="Title">
        <h3>Royal Bus</h3>
        <p>View Driver Details</p>
        </div>
<div class="Button" >

    <button (click)="home()" class="button" style="margin-left: 10px"><i class="fa fa-arrow-circle-left"></i>Back</button>
</div>
<div class="container" >
<div class="content">

    <br>
    <div>
        <label> <b> DriverName: </b></label> {{driver.name}}
    </div>
    <div>
        <label> <b> Age: </b></label> {{driver.age}}
    </div>
    <div>
        <label> <b> Email Address: </b></label> {{driver.driverEmail}}
    </div>
    <div>
        <label> <b> ID Proof.: </b></label> {{driver.idProofNo}}
    </div>
    <div>
        <label> <b> Mobile No.: </b></label> {{driver.mobileNo}}
    </div>
   
   
</div>
</div>
</div>
