<p>contact works!</p>
<div class="container">
  <div style="text-align:center">
    <h2>Contact Us</h2>
   
  </div>
  <div class="row">
    <div class="column">
      <img src="../../../assets/contact.avif" style="width:100%">
    </div>
    <div class="column">
     <div class="content" style="padding-top:10%; padding-left:20%; font-size: 25px;">
        <a><i class="fa fa-phone">HelpLine-Number </i> : 1000-1200-1290</a><br>
        <a><i class="fa fa-envelope">EmailID</i>       : royalbus@royal.com</a><br>
        <a><i class="fa fa-globe">Website</i>          :  <span style="color:blue; text-decoration: underline;">www.RoyalBus.com</span></a><br>

          </div>
          <br>
          <br>
          <div class="content" style="padding-top:10%; padding-left:20%; font-size: 25px;">
            <a>have any issue?</a><br>
            <button class="button"(click)="raise_problem()">Click Here</button>

          </div>
       <!--<label for="country">Country</label>
        <select id="country" name="country">
          <option value="australia">India</option>
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>-->
          
     
    </div>
  </div>
</div>