.banner
{
    background-image: url('../../../assets/about.avif');
    height: 150px;
    background-position: center;
    background-size: cover;
}
.content h3{
    color:rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
   
  text-decoration: underline;
   padding-left: 25px;
   padding-right: 25px;
   padding-bottom: 10px;
}
.content2 h5{
    color:rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
   
  
   padding-left: 25px;
   padding-right: 25px;
   
}
.column2{
  float: left;
  width:25%;
  margin-top: 6px;
 
  background-color: rgba(0, 0, 0, 0.104);
  height: 350px;
}
.column2 a{
top: 50px;
  padding:5px;
  text-decoration:underline;
 font-size:20px;
 font:bold
 
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    
  }
  .column1 {
    float: left;
    width: 25%;
    margin-top: 6px;
    
  }
  .a{
    font-size: small;
    color:black;
    font-weight: 700;
    padding-top: 25px;
  }
  