
    <div class="content">
        <h3>About Us</h3>
       
        
    </div>
<div class="row">
    <div class="column">
        <img src="../../../assets/busimage1.jpg" style="width:100%" >
    </div>
    <div class="column" style="padding-top: 25px;">
        <div class="container" style="min-width: min-content; height: auto; background-color:rgba(0, 0, 0, 0.074);">
            <br>
            <br>
            <p style="color: black; font-size: larger; font-weight: bold; text-align: justify;">At Royal Bus, we are dedicated to providing you with the best bus 
                booking experience possible. With a passion for travel and a commitment to excellence, we've crafted a seamless platform that 
                puts you, the client, at the center of everything we do.
                <br><span Style="font-size: larger; color:rgb(11, 162, 11)">Why Choose Us?</span><br>Whether you're planning a family vacation, a corporate outing, or a solo adventure, we offer a diverse fleet of buses to cater to your specific needs. 
                From luxurious coaches to budget-friendly options, we've got it all.
                <br>24/7 Customer Support: Your convenience is our priority. Our dedicated customer support team is available around the clock to assist you with any queries, changes, 
                or concerns you may have. We're here to make your journey as smooth as possible.
                </p>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="content2" style="padding-top: 6px;">
    <br>
    <br>
    <h5>Partnered With </h5>
</div>
<div class="row" style="padding-left: 10%; padding-right: 10%;">
    <div class="column1">
        <img src="../../../assets/msrtc 2.gif" style="width:60%;" ><br>
        <button class="button" style="border:none;width:200px; height:50px;" >MSRTC</button>
    </div>
        <div class="column1">
            <img src="../../../assets/APRTC.png" style="width:60%" ><br>
            <button class="button" style="border:none;width:200px; height:50px;" >APRTC</button>
    </div>
    <div class="column1">
        <img src="../../../assets/GSRTC.svg" style="width:60%" ><br>
        <button class="button" style="border:none;width:200px; height:50px;">GSRTC</button>
            </div>
                <div class="column1">
                    <img src="../../../assets/SBSTC.png" style="width:60%" ><br>
                    <button class="button"style="border:none;width:200px; height:50px;" >SBSTC</button>
            </div>
          
    <div class="column1">
        <img src="../../../assets/UPSRTC.svg" style="width:60%" ><br>
        <button class="button"style="border:none;width:200px; height:50px;" >UPRTC</button>
    </div>
    <div class="column1">
        <img src="../../../assets/KERALA-RTC.svg" style="width:60%" ><br>
        <button class="button" style="border:none;width:200px; height:50px;">KERALA-RTC</button>  
    </div>

<div class="column1">
    <img src="../../../assets/TSRTC.png" style="width:60%" ><br>
    <button class="button" style="border:none;width:200px; height:50px;">TSRTC</button>
</div>
<div class="column1">
<img src="../../../assets/RSRTC.svg" style="width:60%" ><br>
<button class="button" style="border:none;width:200px; height:50px;">RSRTC</button>
    </div>
  
    
    
</div>
<div class="content2" style="padding-top: 6px;">
    <br>
    <br>
    <h5>Private Bus Operators</h5><br>
</div>
<div class="row" style="padding-left: 10%; padding-right: 10%; ">
    <div class="column2">
       <br><a>SRC Travels</a><br><br><br>
       <a>Rajdhani EXpress</a><br><br><br>
       <a>Nakoda Travels</a><br><br><br>
       <a>SRM Travels</a><br><br><br>
    </div>
    <div class="column2">
        <br><a>Patel Travels</a><br><br><br>
        <a>Raj Express</a><br><br><br>
        <a>Shivshahi Travels</a><br><br><br>
        <a>Shri-Krishna Travels</a><br><br><br>
     </div>
     <div class="column2">
        <br> <a>Konduskar Travels</a><br><br><br>
        <a>Humsafar Travels</a><br><br><br>
        <a>Shatabdi Travels</a><br><br><br>
        <a>Sharma Travels</a><br><br><br>
     </div>
     <div class="column2">
        <br><a>Ashoka Travels</a><br><br><br>
        <a>Mahasagar Travels</a><br><br><br>
        <a>VRL Travels</a><br><br><br>
        <a>Kallad Travels</a><br><br><br>
     </div>
   
   
   
    
    
</div>

