<div class="banner">
    
    <div id="panel" class="panel-container">
      <strong>How satisfied are you with our <br /> customer support performance?</strong>
      <div class="ratings-container">
        <div class="rating">
          <img src="../../assets/unhappy 2.jpg" style="border-radius: 50%;size:120px"alt=""/>
          <small>Unhappy</small>
        </div>

        <div class="rating">
          <img src="../../assets/Neutral_Face-512.webp"style="border-radius: 50%;size:120px" alt=""/>
         <br> <small>Neutral</small>
        </div>

        <div class="rating">
          <img src="../../assets/smile.jpg" style="border-radius: 50%; size:120px" alt=""/>
          <small>Satisfied</small>
        </div>
      </div>

      <div >
        <label for="Raise_issue">Any Suggestion?</label><br>
        <textarea id="subject" name="subject" placeholder="Your Suggestion" style="height:170px; width:500px;"></textarea>
       
      </div>
      <button class="btn" id="send" (click)="feedback()">Send Review</button>
    </div>
    <script src="script.js"></script>
</div>
 